Input {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 50vh;
    height: 30px;
    display: flex;
    font-family: Poppins;
    margin-top: 10px;
    justify-content: space-between;
}

h1 {
    font-family: Poppins;
}

p {
    font-family: Poppins;
    font-size: 20px;
}

h3 {
    font-family: Poppins;
}

h4 {
    color: red;
}

.Moco {
    display: flex;
    justify-content: space-between;
}

.container {
    filter: drop-shadow(10px);
    width: 500px;
    border: 2px solid black;
    font-family: Poppins;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 10px;
}

.submit {
    filter: drop-shadow(10px);
    padding: 10px 30px;
    border: 2px solid black;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    margin-left: 100vh;
    border-radius: 10px;
}

.gimm {
    display: flex;
    justify-content: row;
}

.button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 60px;
    margin-right: 50px;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: bold;
}